@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

header{
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(0deg, rgb(128, 128, 128) , rgb(216, 216, 216));
}
h1{
    width: 200px;
    margin-left: 10%;
}
nav{
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 50%;
    padding: 15px;
}
nav li {
    display: inline;
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav a:hover{
    color: brown;
    text-decoration: underline;
    transition: 0.5s;
}
#menu :hover{
    color:rgb(255, 255, 255);
    transition: 0.5s;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient( aliceblue 50% , grey);
}
footer{
    background: url("/midias/textura-rodape.jpg");
    text-align: center;
}
.copyright{
    color: white;
    margin-top: 10px;
}
