header{
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(to top, rgb(54, 54, 54) , rgb(170, 170, 170));
}
h1{
    width: 200px;
}
nav{
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 50%;
    padding: 15px;
}
nav li {
    display: inline;
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav a:hover{
    color: brown;
    text-decoration: underline;
    transition: 0.5s;
}
#menu :hover{
    color:rgb(255, 255, 255);
    transition: 0.5s;
}
footer{
    background: url("/midias/textura-rodape.jpg");
    text-align: center;
}
.copyright{
    color: white;
    margin-top: 10px;
}