#banner{
    width: 100%;
}
h2 {
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 20px;
}
.img-utensilio {
    width: 150px;
    float: left;
    margin: 0px 12px;
}
#sec-sobre{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 25px;
    font-size: 1.2em;
}
#sec-sobre q {
    color: red;
}
.mapa {
    padding: 3em;
    text-align: center;
}
.mapa p , h2 {
    margin: 0 0 1.5em;
    font-size: 1.5em;
}
.mapa-conteudo{
    width: 940px;
    margin: auto;
}
#banner-beneficio{
    max-width: 55%;
    display: inline-block;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.493);
    opacity: 0.8;
}
#banner-beneficio:hover {
    opacity: 1;
    transition: 0.4s;
}
#beneficios-h3 {
    clear: left;
    font-size: 2em;
    text-align: center;
    padding-bottom: 3%;
    font-weight: bold;
}
#div-beneficios{
    width: 640px;
    margin: auto;
    padding: 5%;
}
#beneficios-lista{
    width: 40%;
    font-size: 18px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: top;
}
.itens-beneficios::before{
    content: "★";
    line-height: 1.8em;
}
.video{
    margin: 8%;
}
footer{
    background: url("/midias/textura-rodape.jpg");
    text-align: center;
    padding: 30px 0;
}
.copyright{
    color: white;
    margin-top: 10px;
}