main{
    padding: 2%;
}
#ul-produtos{
    text-align: center;
}
.produtos{
    display: inline-block;
    width: 310px;
    height: 400px;
    background-color: white;
    padding: 2%;
    margin: 2%;
    border-radius: 3%;
    border: 1px solid black;
}
.descricao-produto{
    font-size: 1.5em;
}
.produtos h2{
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin: 0%;
}
.produto-preco{
    padding: 5px;
    font-size: 1.2em;
    font-weight: bolder;
}
:hover.produtos{
    transform: scale(1.1);
    transform: scale(1.1);
    transform: scale(1.1);
}
